@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;

}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page-header {
  color:  #000000;
  background-color: #FFFFFF;
  text-transform: capitalize;
}

.navigation-link {
  font-size: 28px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;

}



.navigation-link-button{
  color: #FFFFFF;
  background: #756157;
  text-align: center;
  text-transform: uppercase;


}


.main-index {
  background-color: rgb(107,134,157);
  background: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-about {
  text-align: center;
}

.advantages-title-about {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
.advantages-reasons{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages-list {
  text-align: center;
}

.advantages-title-left {
  color:  #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  background-color:  #82B3D3;
  text-transform: uppercase;
}

.advantages-title {
  color:  #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  background-color:rgba(131, 179, 211, 0.12);
  text-transform: uppercase;
}

.advantages-title-center {
  color:  #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  background-color:rgba(131, 179, 211, 0.2);
  text-transform: uppercase;
}
.services {
  text-align: center;
}

.services-title-wellcom {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
.services-title-staff{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.services-item{
  text-align: center;
}

.services-title h3{
  color:  #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  background-color:rgba(131, 179, 211, 0.12);
  text-transform: uppercase;
}

.services-title {
  color:  #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.search {
  text-align: center;
}

.search-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-title-date {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.search-link {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;

}

.newsletter {
  text-align: center;
  background-color: rgb(73,108,129);
  background: url("../images/subscription.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-catalog{
  background: #FFFFFF;
}

.newsletter-title {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-information {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-form {
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  color: #000000;
}

.canyon{
  position: fixed;
  transform: scale(0);
}

.button newsletter-button {
  background: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  color:  #FFFFFF;
}

.page-footer {
  background-color: #FFFFFF;
  text-align: center;
}

.page-footer-title-catalog{
  color: #000000;

}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

.inner-header{
  color:  #FFFFFF;
  background-color: rgb(75,95,116);
  background: url("../images/filter-bacground.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title{
  font-size: 68px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link{
  font-size: 16px;
  font-weight: 400;
}

.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item{
  line-height: 23px;
  font-weight: 400;
}

.button-use{
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 4px;
}
.button-reset{
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

}

.select-hotel{
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-list{
  text-decoration: none;
}

.hotel-card-title{
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

}

.hotel-card-button button-detail{
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
}

.hotel-card-button button-select{
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 4px;
}

.hotel-card-button button-green{
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: #7DB54F;
  border-radius: 4px;
}

.rating{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;

}

.pagination{
  background-color: #82B3D3;
  border-radius: 4px;



}

.pagination-link pagination-current {
  color: #000000;
  font-size: 20px;
  line-height: 36px;
  background-color: #F2F2F2;

}

.pagination-link{
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;

}
